<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-cmn-Hans">
<head>
  <title>南苑聚合</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>


<body style="margin: 0; padding: 0;">
　
<table cellpadding="0" cellspacing="0" width="600px" style="background: #f8f8f8;padding: 25px">
  <tr>
    <td style="border-bottom:1px solid #b2b2b2">
      <img style="height: 55px;padding-top: 5px;padding-left: 5px;padding-bottom: 5px"
           src="https://cdn.kaimon.cn/img/nfu/logo.png" alt="南苑聚合">
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-top: 30px;padding-bottom: 15px;font-size: 22px">
      <b>你好，{{ name }}。</b>
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-bottom: 15px;">
      感谢您注册南苑聚合平台。
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-top: 5px">
      您的账号为：{{ user_id }}
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-top: 5px">
      请点击以下链接激活账号：
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-top: 25px;padding-bottom: 25px">
      <a href="{{ url }}">{{ url }}</a>
    </td>
  </tr>
  <tr>
    <td style="padding-left: 15px;padding-right: 15px;">
      如果以上链接无法点击，请将上面的地址复制到你的浏览器的地址栏进入南苑聚合平台。 （该链接1小时内有效）
    </td>
  </tr>
  <tr>
    <td style="padding-top: 35px;text-align: center;color: #727272">
      Copyright © 2019 nfu.kaimon.cn All Rights Reserved.
    </td>
  </tr>
</table>
</body>

</html>