[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[packages]
flask = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
mysql-connector-python = "*"
pillow = "*"
python-dotenv = "*"
qrcode = "*"
redis = "*"
requests = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
flask-cors = "*"
v = {editable = true,version = "*"}
