<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="https://static.eachin-life.com/img/nfu_favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.loli.net/ajax/libs/mdui/0.4.3/css/mdui.min.css">
  <title>南苑聚合 车票支付</title>
</head>

<body class="mdui-theme-primary-blue mdui-theme-accent-light-blue padding-top">

<header class="mdui-toolbar mdui-color-theme mdui-appbar-fixed">
  <span class="mdui-typo-title">车票支付</span>
</header>

<div class="mdui-dialog" id="dialog">
  <div class="mdui-dialog-content" id="text">正在调起支付宝支付接口...</div>
</div>

<script src="https://cdnjs.loli.net/ajax/libs/mdui/0.4.3/js/mdui.min.js"></script>
<script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.inc.min.js"></script>
<script>
  var $ = mdui.JQ;
  var inst = new mdui.Dialog('#dialog', {
    history: false,
    modal: true
  });
  inst.open();
  ap.tradePay({
    tradeNO: '{{ trade_no }}'
  }, function (res) {
    if (res.resultCode === "9000") $('#text')[0].innerText = '订单支付成功';
    if (res.resultCode === "8000") $('#text')[0].innerText = '正在处理中';
    if (res.resultCode === "4000") $('#text')[0].innerText = '订单支付失败';
    if (res.resultCode === "6001") $('#text')[0].innerText = '用户中途取消';
    if (res.resultCode === "6002") $('#text')[0].innerText = '网络连接出错';
  });
</script>

</body>

</html>
