<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="icon" href="https://cdn.kaimon.cn/img/nfu/favicon.ico">
  <link rel="stylesheet" href="https://cdn.kaimon.cn/tools/nfu/bus.css">
  <title>电子票</title>
</head>

<body>
<div class="content">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {% for data in ticket %}
      <div class="swiper-slide">
        <div class="top_xi">
          <div class="road_box">
            {{ bus_data['roadFrom']|safe }}
            <span class="road_line">→</span>
            {{ bus_data['roadTo']|safe }}
          </div>
          <div class="data_box">
            {{ bus_data['year']|safe }}
            {{ bus_data['week']|safe }}
            {{ bus_data['time']|safe }}
            <span class="data_to">发车</span>
          </div>
          {{ bus_data['busId']|safe }}
          <div class="box_radius">
            <div class="radius"></div>
            <div class="radius"></div>
            <div class="radius"></div>
            <div class="radius"></div>
            <div class="radius"></div>
          </div>
        </div>
        <div class="xi_center">
          <p class="er_text"><img src="https://cdn.kaimon.cn/img/nfu/light-bulb.png" alt=""/>
            验票时请调亮屏幕
          </p>
          <div class="erwei" id="erwei"></div>
          <p class="erwei_num">{{ data['ticketId']|safe }}</p>
          {{ data['passenger']|safe }}
          {{ data['seat']|safe }}
          <p class="erwei_num erwei_c" style="text-align: center;text-indent:.5rem;">{{ bus_data['takeStation'] }}</p>
          <div class="box_radius">
            <div class="radius"></div>
            <div class="radius"></div>
          </div>
        </div>
        <div class="c_crat">
          <div class="title_s">乘车说明</div>
          <p class="title_stext">购票成功后，凭<span
            style="color: #ef6100">电子票和身份证</span>上车，请确保电子票与身份证<span
            style="color: #ef6100">信息一致</span>。请同学们<span
            style="color: #ef6100">提前20分钟</span>候车。请勿截图使用图片编辑软件修改电子票信息，一经发现将其具体信息提交学生工作部。
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<script src="https://cdn.kaimon.cn/tools/nfu/bus.js"></script>
{{ javascript|safe }}
</body>

</html>